
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dockerize flask app</title>
</head>
<body>
    <h1> This is my HTML Template </h1>
    <form action = "http://192.168.1.76:3200/coords" method = "post">
        <p> Enter Dimensions as a tuple:</p>
        <p><input type= "text", name = "dimensions" /></p>
        <p><input type = "submit" value = "submit" /></p>
        <p> Enter Corners as array of tuples:</p>
        <p><input type= "text", name = "corners" /></p>
        <p><input type = "submit" value = "submit2" /></p>
    </form>
</body>
</html>